TS_AUTHKEY=key
TS_DOMAIN=your-tailnet-name.ts.net
VAULTWARDEN_HOSTNAME=vaultwarden
PORTAINER_HOSTNAME=portainer
BESZEL_HOSTNAME=beszel
BESZEL_AGENT_KEY='UPDATE WITH YOUR PUBLIC KEY (copy from "Add system" dialog)'
BLOCKY_TIMEZONE=America/Recife
BITCOIN_CORE_HOSTNAME=bitcoin
N8N_HOSTNAME=n8n
N8N_GENERIC_TIMEZONE=America/Recife
N8N_TZ=America/Recife
