TS_AUTHKEY=key
TS_DOMAIN=your-tailnet-name.ts.net
VAULTWARDEN_HOSTNAME=homelab-password
PORTAINER_HOSTNAME=homelab-docker
BESZEL_HOSTNAME=homelab-monitoring
BESZEL_AGENT_KEY='UPDATE WITH YOUR PUBLIC KEY (copy from "Add system" dialog)'
BLOCKY_TIMEZONE=America/Recife
BITCOIN_CORE_HOSTNAME=homelab-bitcoin
N8N_HOSTNAME=homelab-automation
N8N_GENERIC_TIMEZONE=America/Recife
N8N_TZ=America/Recife
